asciitree==0.3.3
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
# Editable install with no version control (connectome-plasma-reservoir==0.1.0)
exceptiongroup==1.3.1
idna==3.20
iniconfig==2.3.0
joblib==1.6.0
networkx==3.4.2
neuprint-python==0.6.3
numpy==2.2.6
packaging==26.3
pandas==2.3.3
pluggy==1.6.0
pyarrow==25.0.1
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
threadpoolctl==3.7.0
tomli==2.4.1
tqdm==4.70.1
typing_extensions==4.16.0
tzdata==2026.4
ujson==6.0.0
urllib3==2.8.0
